.species-container {
  padding: 50px;
  background-image: linear-gradient(
    to right,
    #005b49,
    #005c4a,
    #005d4b,
    #015f4c,
    #01604d,
    #2c6b52,
    #457758,
    #5c8260,
    #8a9a75,
    #b5b292,
    #dbccb4,
    #fbe8db
  );
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: antiquewhite;

  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.glass-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.glass-card .ant-card-head {
  border-bottom: none !important;
}

.glass-card .ant-card-head-title {
  color: antiquewhite !important;
  font-size: large;
}
.show-more-btn {
  background-color: antiquewhite;
  border: none !important;
  color: #005b49 !important;
  transition: background-image 0.3s ease !important;
}

.show-more-btn:hover,
.show-more-btn:focus {
  background-color: #005c4a !important;
  border: none !important;
  color: antiquewhite !important;
}
.show-less-btn {
  background-color: antiquewhite;
  border: none !important;
  color: #005b49 !important;
  transition: background-image 0.3s ease !important;
}

.show-less-btn:hover,
.show-less-btn:focus {
  background-color: #005c4a !important;
  border: none !important;
  color: antiquewhite !important;
}
