body {
  margin: 0;
  /* background-image: url("newbg.jpg");
  background-size: cover; */
  /* background-position: right; */
  height: fit-content;
  font-family:  "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
